<div class="contenedor">
<a><h1><mat-icon >date_range</mat-icon>Eventos</h1></a>
<a><mat-form-field appearance="outline">
      <mat-label>Categoria Evento</mat-label>
      <mat-select >
        <mat-option value="1" >Tecnología</mat-option>
        <mat-option value="2">Cocina</mat-option>
        <mat-option value="3">Carpinteria</mat-option>
        <mat-option value="4">Restaurante</mat-option>
        <mat-option value="5">Aire Libre</mat-option>
      </mat-select>
    </mat-form-field></a>
</div>
<div class="container">
  <mat-card class="tarjeta"  *ngFor="let evento of eventosList">
    <img style="height:150px ;" mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSX12H1BqhVQsiWbAEydNY-jmFa_rH0nuqzBg&usqp=CAU" >
    <mat-card-content>
      <span style="font-size: 20px;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">{{evento.nombre}}</span>
      <br><br>
      <mat-chip-list>
      <mat-chip  style="background-color: #5E5BFF;width: 200px; align-items: center;"  selected>{{evento.categoria}}</mat-chip>
      </mat-chip-list>
      <p><b>Fecha de Inicio:</b> {{evento.fechaInicio | date}}</p>
      <p><b>Fecha de Fin:</b> {{evento.fechaFin | date}}</p>
      <p><b>Dirección:</b> {{evento.direccion}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button style="width: 100%;background-color:#159600;" color="primary" [routerLink]="['/verDetalleEvento/',evento.id_evento]">Ver Mas</button>
    </mat-card-actions>
  </mat-card>
</div>
