.mat-card{
  width: 200px;
  height: 390px;
  display: inline-block;
  margin-top: 10px;
  margin-left:20px;
  background-color: rgb(235, 235, 235);
  border-radius: 0.375rem;
  box-shadow: 0px 10px 10px -6px black;
  }
  mat-chip {
    max-width: 200px;
    text-align: center;
  }
.contenedor{
    display: flex;
    width:75%;
    justify-content: space-between;
    margin: auto;
    margin-top: 5rem;
}
.container{
  width:80%;
  margin:auto;
  text-align: center;
}