.mat-card{
  width: 200px;
  height: 390px;
  display: inline-block;
  margin-top: 10px;
  margin-left:20px;
  background-color: rgb(235, 235, 235);
  border-radius: 0.375rem;
  box-shadow: 0px 10px 10px -6px black;
  }
  mat-chip {
    max-width: 200px;
    text-align: center;
  }
.contenedor{
    display: flex;
    padding: 20px 16px 20px;
    align-items: center;
    justify-content: space-between;
}
.container{
  width:1200px;
  margin:auto;
  margin-left: 150px;
  margin-right: 150px;
}