
<body>
    <br><br>
    <h1><b><font size="8px">Crear Categoria de Evento</font></b></h1>
    <br><br>
    <h1><b><font size="6px">Categoria</font></b></h1>
    <br><br>
    <mat-form-field class="largo" appearance="fill">
      <mat-label>Nueva Categoria</mat-label>
      <input matInput>
    </mat-form-field>
    <br><br>
     <div class="new-categoria">
    <mat-form-field class="largo" appearance="fill">
        <mat-label>Codigo Categoria</mat-label>
        <input matInput>
      </mat-form-field>
   
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Precio</mat-label>
      <input matInput type="number" class="example-right-align" placeholder="0">
      <span matPrefix>$&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>
      <br><br>
      </div>
      <button mat-raised-button class="separacion" class="botonlargo" color="primary">Agregar</button>
      <div class="espacio"></div>
      <br><br>
    <h1><b><font size="6px">Vista previa de sala de Evento</font></b></h1>
    <br><br>
    
    <h1><b><font size="6px">Configuracion</font></b></h1>
    <br><br>
    
    <mat-form-field class="largo" appearance="fill">
        <mat-label>Categoria</mat-label>
        <mat-select>
          <mat-option value="opcion1">Opcion 1</mat-option>
          <mat-option value="opcion2">Opcion 2</mat-option>
          <mat-option value="opcion3">Opcion 3</mat-option>
         
        </mat-select>
        <input matInput>
      </mat-form-field>
      <br><br>
      <div class="new-categoria">
    <mat-form-field class="largo" appearance="fill">
        <mat-label>Fila</mat-label>
        <input matInput>
      </mat-form-field>
     
    <mat-form-field class="largo" appearance="fill">
        <mat-label>Columna</mat-label>
        <input matInput>
      </mat-form-field>
      
      </div>
      <div class="new-categoria">
    <mat-form-field class="largo" appearance="fill">
        <mat-label>Numero de mesas</mat-label>
        <input matInput>
      </mat-form-field>
     
    <mat-form-field class="largo" appearance="fill">
        <mat-label>Numero de sillas</mat-label>
        <input matInput>
      </mat-form-field>
      </div>

      <button mat-raised-button class="separacion" class="botonlargo" color="primary">Agregar</button>
      <div class="espacio"></div>
      <br><br>
      
      <br><br>
  
      <button mat-raised-button class="separacion" class="botonlargo" color="primary">Guardar</button>
      
      <div class="espacio"></div>
      <button mat-raised-buttson class="botonlcd argo" color="primary">Siguiente</button>
</body>

