
<div class="contenedor">
    <br><br>
    <h1><b><font size="8px">Crear Categoria de Evento</font></b></h1>
    <br><br>
    <h1><b><font size="6px">Categoria</font></b></h1>
    <br><br>
    <mat-form-field class="largo" appearance="fill">
      <mat-label>Nueva Categoria</mat-label>
      <input matInput>
    </mat-form-field>
    <br><br>
    
        <mat-form-field style="width:32% ; padding-right: 1%;" appearance="fill">
            <mat-label>Codigo Categoria</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field style="width:32%;"  appearance="fill" floatLabel="always">
          <mat-label>Precio</mat-label>
          <input matInput type="number" class="example-right-align" placeholder="0">
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
      <br><br>

      <button style="background-color: rgb(29, 88, 216);color: white;" mat-raised-button class="botonlargo" color="primary">Agregar</button>
      <div class="espacio"></div>
      <br><br>
    <h1><b><font size="6px">Vista previa de sala de Evento</font></b></h1>
    <br><br>
    <div>
      <h1><b><font size="6px">Configuracion</font></b></h1>
      <br><br>
      <mat-form-field class="largo" appearance="fill">
          <mat-label>Categoria</mat-label>
          <mat-select>
            <mat-option value="opcion1">Opcion 1</mat-option>
            <mat-option value="opcion2">Opcion 2</mat-option>
            <mat-option value="opcion3">Opcion 3</mat-option>
          </mat-select>
          <input matInput>
      </mat-form-field>
        <br><br>
        <div class="new-categoria">
          <mat-form-field style="width:32% ; padding-right: 1%;" appearance="fill">
            <mat-label>Fila</mat-label>
            <input matInput>
          </mat-form-field>
       
          <mat-form-field style="width:32%"  appearance="fill">
            <mat-label>Columna</mat-label>
            <input matInput>
          </mat-form-field>
        </div><br>
        <div class="new-categoria">
          <mat-form-field style="width:32% ; padding-right: 1%;" appearance="fill">
            <mat-label>Numero de mesas</mat-label>
            <input matInput>
          </mat-form-field>
        
          <mat-form-field style="width:32%" appearance="fill">
            <mat-label>Numero de Butacas</mat-label>
            <input matInput>
          </mat-form-field>
        </div><br>
  
        <button style="background-color: rgb(29, 88, 216);color: white; margin-left:435px;" mat-raised-button class="botonlargo" color="primary">Agregar</button>
        <div class="espacio"></div>
    </div><br>
    <div>
      <table style="width:65%;" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="categoria">
          <th mat-header-cell *matHeaderCellDef> Categoría </th>
          <!-- <td mat-cell *matCellDef="let element"> {{element.position}} </td> -->
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef> Código </th>
          <!-- <td mat-cell *matCellDef="let element"> {{element.name}} </td> -->
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef> Precio </th>
          <!-- <td mat-cell *matCellDef="let element"> {{element.weight}} </td> -->
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="fila">
          <th mat-header-cell *matHeaderCellDef> Fila </th>
          <!-- <td mat-cell *matCellDef="let element"> {{element.symbol}} </td> -->
        </ng-container>
        <ng-container matColumnDef="columna">
          <th mat-header-cell *matHeaderCellDef> Columna </th>
          <!-- <td mat-cell *matCellDef="let element"> {{element.symbol}} </td> -->
        </ng-container>
        <ng-container matColumnDef="mesas">
          <th mat-header-cell *matHeaderCellDef> Mesas </th>
          <!-- <td mat-cell *matCellDef="let element"> {{element.symbol}} </td> -->
        </ng-container>
        <ng-container matColumnDef="butacas">
          <th mat-header-cell *matHeaderCellDef> Butacas </th>
          <!-- <td mat-cell *matCellDef="let element"> {{element.symbol}} </td> -->
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
      </table>
    </div><br>
      <button style="background-color: rgb(29, 88, 216);color: white;" mat-raised-button class="botonlargo" color="primary">Guardar</button>
      <div class="espacio"></div>
      <button style="background-color: rgb(29, 88, 216);color: white;" mat-raised-button class="botonlargo" color="primary">Siguiente</button>
</div>

