
<body>
    <br><br>
    <h1><b><font size="8px">Crear Categoria de Evento</font></b></h1>
    <br><br>
    <h1><b><font size="6px">Categoria</font></b></h1>
    <br><br>
    <mat-form-field class="largo" appearance="fill">
      <mat-label>Nueva Categoria</mat-label>
      <input matInput>
    </mat-form-field>
    <br><br>
     <div class="new-categoria">
    <mat-form-field class="largo" appearance="fill">
        <mat-label>Codigo Categoria</mat-label>
        <input matInput>
      </mat-form-field>
    <mat-form-field class="largo" appearance="fill">
        <mat-label>Precio</mat-label>
        <input matInput>
      </mat-form-field>
      <br><br>
      </div>
      <button mat-raised-button class="separacion" class="botonlargo" color="primary">Agregar</button>
      <div class="espacio"></div>
      <br><br>
    <h1><b><font size="6px">Vista previa de sala de Evento</font></b></h1>
    <br><br>
    
    <h1><b><font size="6px">Configuracion</font></b></h1>
    <br><br>
    
    <mat-form-field class="largo" appearance="fill">
        <mat-label>Categoria</mat-label>
        <input matInput>
      </mat-form-field>
      <br><br>
      <div class="new-categoria">
    <mat-form-field class="largo" appearance="fill">
        <mat-label>Fila</mat-label>
        <input matInput>
      </mat-form-field>
     
    <mat-form-field class="largo" appearance="fill">
        <mat-label>Columna</mat-label>
        <input matInput>
      </mat-form-field>
      
      </div>
      <div class="new-categoria">
    <mat-form-field class="largo" appearance="fill">
        <mat-label>Numero de mesas</mat-label>
        <input matInput>
      </mat-form-field>
     
    <mat-form-field class="largo" appearance="fill">
        <mat-label>Numero de sillas</mat-label>
        <input matInput>
      </mat-form-field>
      </div>

      <button mat-raised-button class="separacion" class="botonlargo" color="primary">Agregar</button>
      <div class="espacio"></div>
      <br><br>

      <table mat-table [dataSource]="myDataArray" class="categoria">
      
        <ng-container matColumnDef="categoria">
          <th mat-header-cell *matHeaderCellDef> Categoria </th>
          <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
        </ng-container>

        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef> Codigo </th>
          <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
        </ng-container>

        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef> Precio </th>
          <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
        </ng-container>

        <ng-container matColumnDef="fila">
          <th mat-header-cell *matHeaderCellDef> Fila </th>
          <td mat-cell *matCellDef="let element"> {{element.fila}} </td>
        </ng-container>
        <ng-container matColumnDef="columna">
          <th mat-header-cell *matHeaderCellDef> columna </th>
          <td mat-cell *matCellDef="let element"> {{element.columna}} </td>
        </ng-container>
        <ng-container matColumnDef="meses">
          <th mat-header-cell *matHeaderCellDef> Meses </th>
          <td mat-cell *matCellDef="let element"> {{element.meses}} </td>
        </ng-container>

        <ng-container matColumnDef="boletoman">
          <th mat-header-cell *matHeaderCellDef> Boletoman </th>
          <td mat-cell *matCellDef="let element"> {{element.boletoman}} </td>

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
      
      </table>
      <br><br>
  
      <button mat-raised-button class="separacion" class="botonlargo" color="primary">Guardar</button>
      
      <div class="espacio"></div>
      <button mat-raised-button class="botonlcd argo" color="primary">Siguiente</button>
</body>

