.boton1{
    background-color: #D1410C;
    color: white;
    width: 15%;
    margin-top: 20px;
    margin-left: 20px;
}

.boton2{
    background-color: #0D6EFD;
    color: white;
    width: 15%;
    margin-top: 20px;
    margin-left: 20px;
}