<h1>Información de la compra</h1>
<br><br>
<h2>Orden de Nombre del evento </h2>
<br><br>
<p>Fecha de compra: Domingo 18 de noviembre de 2022</p>
<p>Diana Carolina Mélendez López</p>
<br><br>
<h1 style="color:#833AA9">Premium  (X4)</h1>
<br><br>
<div class="contenedor" >
<br><br><br><br>
Dirección del evento: Sala de Té Layco, San Salvador<br><br>
Domingo 28 de Noviembre de 2022 <br><br>
Desde 5:00 Pm hasta 11:30 Pm      

        <img src="assets\images\eve1.jpg" style="width: 35%; margin-left: 5%;
        box-shadow: 0px 12px 15px 10px rgb(0, 0, 0, 0.7); border-radius: 10px; " />
</div >

<button class="boton1" mat-raised-button color="primary">       
        Imprimir tickets
    </button>
    <button class="boton2" mat-raised-button color="primary">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="phone"></mat-icon>
        Contactar organizador

    </button>
