<h1>Información de la compra</h1>
<br><br>
<h2>Orden de Nombre del evento </h2>
<br><br>
<p>Fecha de compra: Domingo 18 de noviembre de 2022</p>
<p>Diana Carolina Mélendez López</p>
<br><br>
<h1>Premium  (X4)</h1>
<br><br>
<p>Dirección del evento: Sala de Té Layco, San Salvador</p>
 <p>Fecha de Evento: Domingo 28 de Noviembre de 2022 </p>
  <p>  Desde 5:00 Pm hasta 11:30 Pm      
</p>
<br><br>
<button class="boton1" mat-raised-button color="primary">       
        Imprimir tickets
    </button>
    <button class="boton2" mat-raised-button color="primary">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="phone"></mat-icon>
        Contactar organizador

    </button>
