<body>
    <br><br>
    <h1><b><font size="8px">Crear Sala de Evento</font></b></h1>
    <br><br>
    <mat-form-field class="largo" appearance="fill">
        <mat-label>Nombre de la sala</mat-label>
        <input matInput>
      </mat-form-field>
      <br><br>
    <mat-form-field class="largo" appearance="fill">
        <mat-label>Direccion</mat-label>
        <input matInput>
      </mat-form-field>
      
      <br><br>
      <mat-form-field appearance="fill">
        <mat-label>Forma de la Sala</mat-label>
        <mat-select>
          <mat-option value="one">Circular</mat-option>
          <mat-option value="two">Ovalado</mat-option>
          <mat-option value="two">Cuadrado</mat-option>
          <mat-option value="two">Rectangulo</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="espacio"></div>

      <mat-form-field appearance="fill">
        <mat-label>Columnas</mat-label>
        <input matInput type="number">
      </mat-form-field>

      <div class="espacio"></div>

      <mat-form-field appearance="fill">
        <mat-label>Filas</mat-label>
        <input matInput type="number">
      </mat-form-field>

      <br><br>
      <FONT SIZE=6>Vista previa</FONT>

      <br><br>
  
      <button style="background-color: rgb(55, 174, 26);color: white;" mat-raised-button class="separacion" class="botonlargo" color="primary">Guardar</button>
      <div class="espacio"></div>
      <button style="background-color: rgb(164, 160, 160);color: white;" mat-raised-button class="botonlargo" color="primary">Siguiente</button>
</body>

