{% extends 'base.html.twig' %}

{% block title %}New Evento{% endblock %}

{% block body %}
    <h1>Create new Evento</h1>

    {{ include('evento/_form.html.twig') }}

    <a href="{{ path('app_evento_index') }}">back to list</a>
{% endblock %}
