<div id="main-arragement">

    <div id="right-arragement">
        <br><br>
        <h1> <b>&nbsp;Titulo</b></h1>
        <h3>&nbsp;&nbsp;Descripcion</h3>
        <br><br>
        <p class="text-justify" >&nbsp;&nbsp;Nuestras instalaciones te reciben para tomar un energizante desayuno, un almuerzo cómodo, 
            un café de la tarde en nuestros salones y terrazas, o una cena deliciosa antes del cine. Ven y disfruta de un animado 
            ambiente en la cosmopolita ciudad de San Salvador.
        </p>
        <br><br>
        <p>&nbsp;&nbsp;Fecha: Jueves 25 de octubre de 2022</p>
        <br><br>
        <p>&nbsp;&nbsp;Hora: 7:30 am - 9:00 am</p>
        <br><br>
        <p>&nbsp;&nbsp;Organiza: <a href="https://www.smurfitkappa.com/sv">Smurfit Kappa</a></p>
        <button class="boton1" mat-raised-button color="primary">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping"></mat-icon>
            Comprar
        </button>
        <button class="boton2" mat-raised-button color="primary">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="phone"></mat-icon>
            Contactar organizador

        </button>
    </div>

    <div id="left-arragement">
        <img src="assets\images\eve1.jpg" style="width: 100%; display:flex; margin-top: 100px;" />
    </div>

</div>

<div id="bottom-arragement">

    <div>
        <h1> <b>&nbsp;Sala del Evento</b></h1>
        <br><br>
        <p>&nbsp;Nombre: </p>
        <br><br>
        <p>&nbsp;Dirección: </p>
        <br><br>
        <p>&nbsp;Teléfono: </p>
        <br><br>
        <p>&nbsp;Email: </p>
        <br><br>
    </div>
        
    <div>
        <br><br>
        *distribucion de butacas*
        <p><button class="boton1" mat-raised-button color="primary">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping"></mat-icon>
            Comprar

        </button></p>
    </div>

</div>
