
<div class="contenedor">
    <br><br>
    <h1><b>Crear Categoría de Evento</b></h1>
    <h2><b>Categoría</b></h2>
    <br><br>
    <form [formGroup]="creaCategoriaForms" (ngSubmit)="agregarCategoria(creaCategoriaForms.value)">
      <mat-form-field class="largo" appearance="fill">
        <mat-label>Nueva Categoría</mat-label>
        <input formControlName="nombre" matInput>
      </mat-form-field>
      <br><br>
          <mat-form-field style="width:32% ; padding-right: 1%;" appearance="fill">
              <mat-label>Código Categoría</mat-label>
              <input formControlName="codigo" matInput>
          </mat-form-field>
          <mat-form-field style="width:32%;"  appearance="fill" floatLabel="always">
            <mat-label>Precio</mat-label>
            <input formControlName="precioUnitario" matInput type="number" class="example-right-align" placeholder="0">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field>
        <br><br>
        <!-- <button [disabled]="!creaCategoriaForms.valid"  style="background-color: #5470FF;color: white;margin-left:435px;" mat-raised-button class="botonlargo" color="primary">Agregar</button> -->
        <button [disabled]="!creaCategoriaForms.valid" type="submit" (click)="guardarCategoria(creaCategoriaForms.value)" style="background-color: rgb(55, 174, 26);color: white;margin-left:435px;" mat-raised-button class="botonlargo" color="primary">
          <mat-icon>add_circle_outline</mat-icon>
          <span>Guardar</span></button>
    </form>
    
  <div class="espacio"></div>
      <br><br>
    <h2><b>Vista previa de sala de Evento</b></h2>
    <app-vista-previa [columnaCategoria]="configuracionForms.value.columna" [filaCategoria]="configuracionForms.value.fila" [butacas]="configuracionForms.value.numButacas" [columnas]="this.columnaSala" [fila]="this.filaSala" [formaSala]="this.formaSala"></app-vista-previa>
    <br><br>
    <form [formGroup]="configuracionForms" (ngSubmit)="agregarConfiguracion(configuracionForms.value)">
      <div>
        <h2><b>Configuración</b></h2>
        <br><br>
        <mat-form-field class="largo" appearance="fill">
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="categoria">
              <mat-option *ngFor="let cat of categorias | keyvalue"  value="{{cat.key}}">{{cat.value['nombre']}}</mat-option>
            </mat-select>
            <input matInput>
        </mat-form-field>
          <br><br>
          <div class="new-categoria">
            <mat-form-field style="width:32% ; padding-right: 1%;" appearance="fill">
              <mat-label>Fila</mat-label>
              <input formControlName="fila" matInput type="number" >
            </mat-form-field>
            <mat-form-field style="width:32%"  appearance="fill">
              <mat-label>Columna</mat-label>
              <input formControlName="columna" matInput type="number" >
            </mat-form-field>
          </div><br>
          <div class="new-categoria">
            <mat-form-field  style="width:32% ; padding-right: 1%;" appearance="fill">
              <mat-label>Número de Mesas</mat-label>
              <input disabled="true" matInput type="number" >
            </mat-form-field>
            <mat-form-field style="width:32%" appearance="fill">
              <mat-label>Número de Butacas</mat-label>
              <input formControlName="numButacas" matInput type="number">
            </mat-form-field>
          </div><br>
          <!-- <button [disabled]="!configuracionForms.valid"  style="background-color: #5470FF;color: white; margin-left:435px;" mat-raised-button class="botonlargo" color="primary">Agregar</button> -->
          <button [disabled]="!creaCategoriaForms.valid" type="submit" (click)="guardarCelda()" style="background-color: rgb(55, 174, 26);color: white;margin-left:435px;" mat-raised-button class="botonlargo" color="primary">
            <mat-icon>add_circle_outline</mat-icon>
            <span>Guardar</span></button>
          <div class="espacio"></div>
      </div><br>
    </form>
    
    <div>
      <table style="width:65%;" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="categoria">
          <th mat-header-cell *matHeaderCellDef> Categoría </th>
          <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef> Código </th>
          <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef> Precio </th>
          <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="fila">
          <th mat-header-cell *matHeaderCellDef> Fila </th>
          <td mat-cell *matCellDef="let element"> {{element.fila}} </td>
        </ng-container>
        <ng-container matColumnDef="columna">
          <th mat-header-cell *matHeaderCellDef> Columna </th>
          <td mat-cell *matCellDef="let element"> {{element.columna}} </td>
        </ng-container>
        <ng-container matColumnDef="mesas">
          <th mat-header-cell *matHeaderCellDef> Mesas </th>
          <td mat-cell *matCellDef="let element"> {{element.mesas}} </td>
        </ng-container>
        <ng-container matColumnDef="butacas">
          <th mat-header-cell *matHeaderCellDef> Butacas </th>
          <td mat-cell *matCellDef="let element"> {{element.butacas}} </td> proba plox
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
      </table>
    </div><br>
      <!--botones-->
<div style="margin-top: 25px;margin-top:50px;"><br>
  <section>
    <div class="example-button-row">
       <button [routerLink]="['/misEventos/']"  type="button" style="left: 25%;width: 200px;background-color: rgb(26, 142, 174);color: white;margin-left: -140px;" mat-raised-button color="primary">FINALIZAR</button>
      <!-- <button style="left: 30%;width: 200px;background-color:#7250c0;color: white;"  mat-raised-button>SIGUIENTE</button>     -->
    </div>
  </section>
</div><br>
</div>

