table{
        border: none;
        width: 80%;
        right: 80%;
        border-collapse: collapse;
}

td { 
   
    text-align-last:center;
    -ms-text-size-adjust: auto;
}

th { 
    text-align-last: center;
    background-color: rgba(248, 244, 244, 0.842);
    color: black;
    font-size: 14px;
}

.icon-display { 
    padding-left: 1rem;
    padding-right: 1rem;
    transform: scale(2.5); 
}

/* h1{
    text-align: left;
    padding-left: 150px;
} */

.descarga{
    transform: scale(1.5);
}
.nav-custom-buttons{
    text-align: end;
}
.container{
    width: 80%;
    margin: 2rem auto 1rem;
}