<h1 class="container"> <mat-icon class="icon-display">event_note</mat-icon> &nbsp;  Mis Eventos</h1>
<div class="nav-custom-buttons container">
  <button type="button" style="background-color: rgb(55, 174, 26);color: white;" mat-raised-button color="primary">
    <mat-icon>theaters</mat-icon>
    <span [routerLink]="['/creaEvento']">Crear Evento</span>
  </button>
</div>

<table  style="margin:0 auto" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="nombreDeEvento">
      <th  mat-header-cell *matHeaderCellDef>Nombre del evento</th>
      <td  mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
  
    <ng-container matColumnDef="fecha">
      <th  mat-header-cell *matHeaderCellDef> Fecha </th>
      <td  mat-cell *matCellDef="let element"> {{element.fecha }} </td>
    </ng-container>
  

    <ng-container matColumnDef="hora">
      <th mat-header-cell *matHeaderCellDef> Hora </th>
      <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
    </ng-container>
  
    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef> Editar </th>
      <td mat-cell *matCellDef="let element" > <mat-icon class="download" [routerLink]="['/evento/'+element.id]">edit</mat-icon> </td>
    </ng-container>

    <ng-container matColumnDef="listaDeAsistentes">
      <th mat-header-cell *matHeaderCellDef> Lista de Asistentes </th>
      <td mat-cell *matCellDef="let element"> <mat-icon class="descarga">download</mat-icon> </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>