
<mat-toolbar id="toolBar" > 
    <div class="contenedor">
            <a class="imagen nav-element" >
                <img src="assets\images\default.png"  width="150" height="50">
            </a>
            <a class="nav-element">
                <button mat-raised-button [routerLink]="['/verEventos']">Explorar</button>
                <!-- <button mat-raised-button>Mis Boletos</button>
                <button mat-raised-button>Mis Favoritos</button> -->
            </a>
            <a class="nav-element">
                <!-- <button class="ab" mat-raised-button  color="accent">Registrarme</button>
                <button class="bc" mat-raised-button color="primary">Iniciar Session</button> -->
            </a>
    </div>
</mat-toolbar>
<body>
    <div   fxLayout="row" fxLayoutAlign="center">
      <div class="login-wrapper">
        
        <mat-card class="box">
          <mat-card-header>
            <mat-card-title>
                <tr>
                    <img src="./assets/images/logo.png">
                </tr>
                <tr>
                    <mat-card-title>Inicia Sesión</mat-card-title>
                </tr>
            </mat-card-title>
          </mat-card-header>
          <form class="example-form" [formGroup]="iniciarSesionForm" (ngSubmit)="iniciarSesion(iniciarSesionForm.value)">
            <mat-card-content>
              <mat-form-field class="example-full-width">
                <input formControlName="email" matInput placeholder="Email" type="email">
              </mat-form-field>
              <mat-form-field class="example-full-width" >
                <mat-label>Contraseña</mat-label>
                <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </mat-card-content>
              <!--botones-->
            <div style="margin-top: 25px;margin-top:50px;"><br>
              <section>
                <div class="example-button-row" style="text-align: center;">
                  <button type="submit" style="background-color: rgb(55, 174, 26);color: white;" mat-raised-button color="primary">Iniciar Sesión</button>
                
                  <button [routerLink]="['/registro']" type="button" mat-raised-button color="secondary">
                    <!-- <mat-icon>login</mat-icon> -->
                    <span>Registrarme</span>
                  </button>
                </div>
              </section>
            </div>
              <!-- <asl-google-signin-button  type='standard' size='large' theme='filled_black'></asl-google-signin-button> -->
          </form>
        </mat-card>
      </div>
    </div>
</body>

