<mat-toolbar id="toolBar" > 
    <div class="contenedor">
      
            <div class="imagen">
            <img src="assets\images\default.png"  width="200" height="50">
        </div>
      
            <div class="centro">
            <button mat-raised-button>Explorar</button>
            <button mat-raised-button>Mis Boletos</button>
            <button mat-raised-button>Mis Favoritos</button>
        </div>
      
            <div class="derecha">
            <button mat-raised-button (click)="login()" color="accent">Registrarme</button>
            <button mat-raised-button color="primary">Iniciar Session</button>
        </div>
     
    </div>
</mat-toolbar>

