.tarjeta{
    max-width: 200px;
    border-style: groove;
  }
  mat-chip {
    max-width: 200px;
  }
  .contenedor{
    display: flex;
    padding: 0 16px;
    align-items: center;
    justify-content: space-between;
}
