
<div class="contenedor">
  <form [formGroup]="creaSalaForms" (ngSubmit)="guardarSala(creaSalaForms.value)">
    <br><br>
    <h1><b>Crear Sala de Evento</b></h1>
    <br><br>
    <mat-form-field class="largo" appearance="fill">
        <mat-label>Nombre de la sala</mat-label>
        <input formControlName="nombreSala" matInput>
      </mat-form-field>
      <br><br>
    <mat-form-field class="largo" appearance="fill">
        <mat-label>Direccion</mat-label>
        <input formControlName="direccion" matInput>
      </mat-form-field>
      
      <br><br>
      <mat-form-field appearance="fill">
        <mat-label>Forma de la Sala</mat-label>
        <mat-select formControlName="formaSala">
          <mat-option value="Circular">Circular</mat-option>
          <mat-option value="Ovalado">Ovalado</mat-option>
          <mat-option value="Cuadrado">Cuadrado</mat-option>
          <mat-option value="Rectangulo">Rectangulo</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="espacio"></div>

      <mat-form-field appearance="fill">
        <mat-label>Columnas</mat-label>
        <input formControlName="columnas" matInput type="number">
      </mat-form-field>

      <div class="espacio"></div>

      <mat-form-field appearance="fill">
        <mat-label>Filas</mat-label>
        <input formControlName="filas" matInput type="number">
      </mat-form-field>

      <br><br>
      <h2>Vista previa</h2>

      <br><br>
  
      <!--botones-->
<div style="margin-top:20px;"><br>
  <section>
    <div class="example-button-row">
      <button type="submit" style="left: 25%;width: 200px;background-color: rgb(55, 174, 26);color: white;margin-left: -140px;" mat-raised-button color="primary">GUARDAR</button>
      <button style="left: 30%;width: 200px;background-color: rgb(164, 160, 160);color: white;" [routerLink]="['/crearCategoria']" mat-raised-button>SIGUIENTE</button>    
    </div>
  </section>
</div><br>
  </form>
</div>

