

table {
    width: 100%;
}

th
{
    width: 25%;    
}
.contenedor{
    width:960px;
    margin:auto;
    margin-left: 200px;
}
.botonlargo{
    background-color: rgb(55, 174, 26);
    color: white;
    width: 20%;
    margin-left: 760px;

}


.demo-table {
    width: 100%;
  }
  
  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    background-color: #b0a2d2 ;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }
 

