
table {
    width: 100%;
}

th
{
    width: 25%;    
}
.contenedor{
    width:960px;
    margin:auto;
    margin-left: 200px;
}
.botonlargo{
    background-color: rgb(55, 174, 26);
    color: white;
    width: 20%;
    margin-left: 760px;
}
