table {
    width: 100%;
}

th
{
    width: 25%;    
}


.color-button{
    background: green;
  }

.contenedor{
    width:960px;
    margin:auto;
    margin-left: 200px;
}
.botonlargo{

    width: 20%;
}

