<!--<div>
  <p>crea-evento works!</p>
<button mat-raised-button (click)="logOut()" color="accent">Salir</button>
<!- - Para devolver foto de perfil, nombre y correo de la persona logeada 
    Esto debe ir en el layout base en la barra de navegación- ->
  <div *ngIf="auth.user$ | async as user">
    <img [src]="user.picture"  height="100px" >
    <p>{{ user.name }}</p>
    <p>{{ user.email }}</p>
  </div>
</div><br>-->
<!--titulo de pagina-->
<div style="margin-top: 20px;width: 100%;background-color: rgb(255, 255, 255);">
  <span style="text-align: left;margin-left: 30px;font-size: 50px;">CREA TU EVENTO</span>
</div>
<!--titulo y organizador del evento-->
<div style="margin-top: 50px;"><br>
  <mat-form-field style="width: 75%;margin-left: 50px;margin-bottom: 5px;" appearance="fill">    
    <input  matInput placeholder="Titulo del evento">     
  </mat-form-field>
  <br>  
  <mat-form-field style="width: 75%;margin-left: 50px;margin-top: 5px;"appearance="fill">   
    <input  matInput placeholder="Organizador">    
  </mat-form-field>
</div>
<!--tipo , categorias y subcategorias del evento-->
<div><br>
    <mat-form-field style="margin-left: 50px;margin-top: 5px;"appearance="fill">
      <mat-label>Tipo del evento</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field style="margin-left: 50px;margin-top: 5px;"appearance="fill">
      <mat-label>Categoria evento</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field> 
      
    <mat-form-field style="margin-left: 50px;margin-top: 5px;"appearance="fill">
      <mat-label>SubCategorias evento</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
</div>
<!--fechas y horas del evento-->
<div style="margin-left: 50px;"><br>
  <span>Fecha Inicio</span><span style="margin-left: 160px;">Hora Inicio</span><span style="margin-left: 160px;">Fecha Fin</span><span style="margin-left: 170px;">Hora Fin</span><br><br>
  <mat-form-field appearance="fill">    
    <input  matInput placeholder="Fecha">     
  </mat-form-field>
  <mat-form-field style="margin-left: 30px;" appearance="fill">    
    <input  matInput placeholder="Hora">     
  </mat-form-field>  
  <mat-form-field style="margin-left: 30px;" appearance="fill">    
    <input  matInput placeholder="Fecha">     
  </mat-form-field>  <mat-form-field style="margin-left: 30px;" appearance="fill">    
    <input  matInput placeholder="Hora">    
  </mat-form-field>  
</div>
<!--tipo y dias del evento-->
<div><br>
  <mat-form-field style="margin-left: 50px;margin-top: 5px;"appearance="fill">
    <mat-label>tipo de evento</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>    
  </mat-form-field>
  <section style="margin-left:270px;margin-top: -75px;" class="example-section">
    <mat-checkbox style="margin: 20px;">lunes</mat-checkbox>
    <mat-checkbox style="margin: 20px;">martes</mat-checkbox>
    <mat-checkbox style="margin: 20px;">miercoles</mat-checkbox>
    <mat-checkbox style="margin: 20px;">jueves</mat-checkbox>
    <mat-checkbox style="margin: 20px;">viernes</mat-checkbox>
    <mat-checkbox style="margin: 20px;">sabado</mat-checkbox>
    <mat-checkbox style="margin: 20px;">domingo</mat-checkbox>
  </section>
</div>
<!--botones-->
<div style="margin-top: 25px;margin-top:50px;"><br>
  <section>
    <div class="example-button-row">
      <button style="left: 25%;width: 200px;background-color: rgb(55, 174, 26);color: white;" mat-raised-button color="primary">GUARDAR</button>
      <button style="left: 30%;width: 200px;background-color: rgb(164, 160, 160);color: white;"  mat-raised-button>SIGUIENTE</button>    
    </div>
  </section>
</div><br>
<!--
<mat-form-field>
  <input matInput [matDatepicker]="myDatepicker">
  <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
  <mat-datepicker #myDatepicker></mat-datepicker>
</mat-form-field>
-->
<!--
<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Fecha">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
-->