
<div class="contenedor">
  <br><br>
<!--titulo de pagina-->
<div style="margin-top: 20px;width: 100%;background-color: rgb(255, 255, 255);">
  <h1><b>Crear tu Evento</b></h1>
</div>
<form [formGroup]="creaEventoForms" (ngSubmit)="guardarEvento(creaEventoForms.value)">
  <!--titulo y organizador del evento-->
<div style="margin-top: 50px; text-align: center;" ><br>
  <mat-form-field class="largo" style="width: 75%;margin-left: 50px;margin-bottom: 5px;" appearance="fill">    
    <input formControlName="tituloEvento" matInput placeholder="Titulo del evento">     
  </mat-form-field>
  <br>  
  <mat-form-field class="largo" style="width: 75%;margin-left: 50px;margin-top: 5px;"appearance="fill">   
    <input formControlName="organizador" matInput placeholder="Organizador">    
  </mat-form-field>
</div>
<!--tipo , categorias y subcategorias del evento-->
<div style="text-align: center;"><br>
    <mat-form-field style="margin-left: 50px;margin-top: 5px;"appearance="fill">
      <mat-label>Tipo del evento</mat-label>
      <mat-select formControlName="tipoEvento">
        <mat-option >First option</mat-option>
        <mat-option >Second option</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field style="margin-left: 50px;margin-top: 5px;"appearance="fill">
      <mat-label>Categoria evento</mat-label>
      <mat-select formControlName="catEvento">
        <mat-option >First option</mat-option>
        <mat-option >Second option</mat-option>
      </mat-select>
    </mat-form-field> 
      
    <mat-form-field style="margin-left: 50px;margin-top: 5px;"appearance="fill">
      <mat-label>SubCategorias evento</mat-label>
      <mat-select formControlName="subCatEvento">
        <mat-option >First option</mat-option>
        <mat-option >Second option</mat-option>
      </mat-select>
    </mat-form-field>
</div>
<!--fechas y horas del evento-->
<div style="margin-left: 50px;"><br>
  <span>Fecha Inicio</span><span style="margin-left: 160px;">Hora Inicio</span><span style="margin-left: 160px;">Fecha Fin</span><span style="margin-left: 170px;">Hora Fin</span><br><br>
  <mat-form-field appearance="fill">    
    <input formControlName="fechaInicio" type="date"  matInput placeholder="Fecha">     
  </mat-form-field>
  <mat-form-field style="margin-left: 30px;" appearance="fill">    
    <input formControlName="horaInicio" type="time" matInput placeholder="Hora">     
  </mat-form-field>  
  <mat-form-field style="margin-left: 30px;" appearance="fill">    
    <input formControlName="fechaFin"type="date"  matInput placeholder="Fecha">     
  </mat-form-field>  <mat-form-field style="margin-left: 30px;" appearance="fill">    
    <input formControlName="horaFin" type="time" matInput placeholder="Hora">    
  </mat-form-field>  
</div>
<!--tipo y dias del evento-->
<div class="example-section"><br>
  <mat-form-field style="margin-left: 10px;margin-top: 5px;"appearance="fill">
      <mat-label>tipo de evento</mat-label>
      <mat-select formControlName="concurencia">
        <mat-option >First option</mat-option>
        <mat-option >Second option</mat-option>
      </mat-select>    
  </mat-form-field>
  <section  >
    <mat-checkbox formControlName="dias"style="margin: 10px;">lunes</mat-checkbox>
    <mat-checkbox style="margin: 10px;">martes</mat-checkbox>
    <mat-checkbox style="margin: 10px;">miercoles</mat-checkbox>
    <mat-checkbox style="margin: 10px;">jueves</mat-checkbox>
    <mat-checkbox style="margin: 10px;">viernes</mat-checkbox>
    <mat-checkbox style="margin: 10px;">sabado</mat-checkbox>
    <mat-checkbox style="margin: 10px;">domingo</mat-checkbox>
  </section>
</div>
  <!--botones-->
  <div style="margin-top: 25px;margin-top:50px;"><br>
    <section>
      <div class="example-button-row">
        <button type="submit" style="left: 25%;width: 200px;background-color: rgb(55, 174, 26);color: white;" mat-raised-button color="primary">GUARDAR</button>
        <button style="left: 30%;width: 200px;background-color: rgb(164, 160, 160);color: white;" [routerLink]="['/verSalaEvento']"  mat-raised-button>SIGUIENTE</button>    
      </div>
    </section>
  </div><br>
</form>
</div>

