<mat-toolbar id="toolBar" > 
    <div class="contenedor">
            <a class="imagen" >
                <img src="assets\images\default.png"  width="150" height="50">
            </a>
            <a class="centro">
                <button mat-raised-button [routerLink]="['/verEventos']">Explorar</button>
                <button mat-raised-button [routerLink]="['/misEventos']">Mis Eventos</button>
                <button mat-raised-button [routerLink]="['/misBoletos']">Mis Boletos</button>
            </a>
            <a class="derecha">
                <img src='assets\images\ico.png' class='imgRedonda' />
                <div *ngIf="logeado==true; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                      <mat-icon>expand_more</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" >
                      <button [routerLink]="['/misBoletos']" mat-menu-item>
                        <mat-icon>dashboard</mat-icon>
                        <span>Mis Boletos</span>
                      </button>
                      
                      <button mat-menu-item>
                        <mat-icon>theaters</mat-icon>
                        <span [routerLink]="['/misEventos']">Mis Eventos</span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon>theaters</mat-icon>
                        <span [routerLink]="['/creaEvento']">Crear Evento</span>
                      </button>
                      <!-- <button mat-menu-item>
                        <mat-icon>perm_identity</mat-icon>
                      <span>Mi Perfil</span>
                     </button> -->
                    <button mat-menu-item (click)="cerrarSesion()">
                      <mat-icon>exit_to_app</mat-icon>
                      <span>Salir</span>
                    </button>
                  </mat-menu>
                </ng-template>
                <ng-template #elseBlock>
                  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                      <mat-icon>expand_more</mat-icon>
                    </button>
                  <mat-menu #menu="matMenu">
                    <!-- <button [routerLink]="['/registro']" mat-menu-item>
                      <mat-icon>dashboard</mat-icon>
                      <span>Registrarse</span>
                    </button> -->
                    <button mat-menu-item [routerLink]="['/login']">
                      <mat-icon>login</mat-icon>
                      <span>Iniciar Sesión</span>
                    </button>
                  </mat-menu>
                </ng-template>
                  
                  
            </a>
    </div>
</mat-toolbar>
<div class="color-text">
  <router-outlet></router-outlet>
</div>
